{% extends "base.html" %}
{% load static %}

{% block title %}Configurar {{ game_type }}{% endblock %}

{% block content %}
<section>
    <h1 class="text-5xl font-bold mb-4">{{ game_type }}</h1>
    <h2 class="text-2xl font-bold mb-4">Ingrese los enunciados con su respuesta:</h2>
    <form id="gameForm" class="space-y-6" data-game-type="{{ game_type }}">
        <!-- Campos dinámicos para enunciados y respuestas -->
        <div id="dynamicFields">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="enunciado1" class="block text-sm font-medium text-gray-700">Enunciado</label>
                    <input type="text" id="enunciado1" name="enunciados[]" class="w-full p-2 border rounded-md" placeholder="Ingrese el enunciado">
                </div>
                <div>
                    <label for="respuesta1" class="block text-sm font-medium text-gray-700">Respuesta</label>
                    <input type="text" id="respuesta1" name="respuestas[]" class="w-full p-2 border rounded-md" placeholder="Ingrese la respuesta">
                </div>
            </div>
        </div>

        <!-- Botón para agregar más campos -->
        <button type="button" id="addFieldButton" class="bg-blue-500 text-white px-4 py-2 rounded-md">
            Añadir Más Campos
        </button>

        <!-- Campos adicionales para Sopa de Letras -->
        <div id="sopaDeLetrasFields" class="hidden mt-6">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                <div>
                    <label for="largo" class="block text-sm font-medium text-gray-700">Largo</label>
                    <input type="number" id="largo" name="largo" class="w-full p-2 border rounded-md" placeholder="Ej: 10">
                </div>
                <div>
                    <label for="ancho" class="block text-sm font-medium text-gray-700">Ancho</label>
                    <input type="number" id="ancho" name="ancho" class="w-full p-2 border rounded-md" placeholder="Ej: 10">
                </div>
            </div>
        </div>

        <!-- Botón para enviar -->
        <button type="submit" class="bg-green-500 text-white px-6 py-2 rounded-md mt-4 w-full sm:w-auto">
            Crear Juego
        </button>
    </form>
</section>


<script src="{% static '../static/js/create_game.js' %}"></script>
{% endblock %}

